

module libressl [system] {
 
  header "types.h"
  header "INCLUDE_ROOT/include/tls.h"
  header "INCLUDE_ROOT/include/openssl/ssl.h"
  header "INCLUDE_ROOT/include/openssl/ossl_typ.h"
  header "INCLUDE_ROOT/include/openssl/opensslconf.h"
  header "INCLUDE_ROOT/include/openssl/opensslfeatures.h"

  header "INCLUDE_ROOT/include/openssl/aes.h"
  header "INCLUDE_ROOT/include/openssl/asn1_mac.h"
  header "INCLUDE_ROOT/include/openssl/asn1.h"
  header "INCLUDE_ROOT/include/openssl/asn1t.h"
  header "INCLUDE_ROOT/include/openssl/bio.h"
  header "INCLUDE_ROOT/include/openssl/blowfish.h"
  header "INCLUDE_ROOT/include/openssl/bn.h"
  header "INCLUDE_ROOT/include/openssl/buffer.h"
  header "INCLUDE_ROOT/include/openssl/camellia.h"
  header "INCLUDE_ROOT/include/openssl/cast.h"
  header "INCLUDE_ROOT/include/openssl/chacha.h"
  header "INCLUDE_ROOT/include/openssl/cmac.h"

  header "INCLUDE_ROOT/include/openssl/comp.h"
  header "INCLUDE_ROOT/include/openssl/conf_api.h"
  header "INCLUDE_ROOT/include/openssl/conf.h" 
  header "INCLUDE_ROOT/include/openssl/crypto.h"
  header "INCLUDE_ROOT/include/openssl/des.h"
  header "INCLUDE_ROOT/include/openssl/dh.h"
  header "INCLUDE_ROOT/include/openssl/dsa.h"
  header "INCLUDE_ROOT/include/openssl/dso.h"
  header "INCLUDE_ROOT/include/openssl/dtls1.h"
  header "INCLUDE_ROOT/include/openssl/ec.h"
  header "INCLUDE_ROOT/include/openssl/ecdh.h"
  header "INCLUDE_ROOT/include/openssl/ecdsa.h"
  header "INCLUDE_ROOT/include/openssl/engine.h"
  header "INCLUDE_ROOT/include/openssl/err.h"
  header "INCLUDE_ROOT/include/openssl/evp.h"
  header "INCLUDE_ROOT/include/openssl/gost.h"
  header "INCLUDE_ROOT/include/openssl/hmac.h"
  header "INCLUDE_ROOT/include/openssl/idea.h"
  header "INCLUDE_ROOT/include/openssl/krb5_asn.h"
  header "INCLUDE_ROOT/include/openssl/lhash.h"
  header "INCLUDE_ROOT/include/openssl/md4.h"
  header "INCLUDE_ROOT/include/openssl/md5.h"
  header "INCLUDE_ROOT/include/openssl/modes.h"
  header "INCLUDE_ROOT/include/openssl/obj_mac.h"
  header "INCLUDE_ROOT/include/openssl/objects.h"
  header "INCLUDE_ROOT/include/openssl/ocsp.h"
  header "INCLUDE_ROOT/include/openssl/opensslv.h"
  header "INCLUDE_ROOT/include/openssl/pem.h"
  header "INCLUDE_ROOT/include/openssl/pem2.h"
  header "INCLUDE_ROOT/include/openssl/pkcs7.h"
  header "INCLUDE_ROOT/include/openssl/pkcs12.h"
  header "INCLUDE_ROOT/include/openssl/poly1305.h"
  header "INCLUDE_ROOT/include/openssl/rand.h"
  header "INCLUDE_ROOT/include/openssl/rc2.h"
  header "INCLUDE_ROOT/include/openssl/rc4.h"
  header "INCLUDE_ROOT/include/openssl/ripemd.h"
  header "INCLUDE_ROOT/include/openssl/rsa.h"
  header "INCLUDE_ROOT/include/openssl/safestack.h"
  header "INCLUDE_ROOT/include/openssl/sha.h"
  header "INCLUDE_ROOT/include/openssl/srtp.h"

  header "INCLUDE_ROOT/include/openssl/ssl2.h"
  header "INCLUDE_ROOT/include/openssl/ssl3.h"
  header "INCLUDE_ROOT/include/openssl/ssl23.h"
  header "INCLUDE_ROOT/include/openssl/stack.h"
  header "INCLUDE_ROOT/include/openssl/tls1.h"
  header "INCLUDE_ROOT/include/openssl/ts.h"
  header "INCLUDE_ROOT/include/openssl/txt_db.h"
  header "INCLUDE_ROOT/include/openssl/ui_compat.h"
  header "INCLUDE_ROOT/include/openssl/ui.h"
  header "INCLUDE_ROOT/include/openssl/whrlpool.h"
  header "INCLUDE_ROOT/include/openssl/x509_vfy.h"
  header "INCLUDE_ROOT/include/openssl/x509.h"
  header "INCLUDE_ROOT/include/openssl/x509v3.h" 
  link "ssl"
  link "crypto"
  link "tls"
  export EXPORT_STAR
}
